#shortcutsInterface {
    position: fixed;
    left: calc(50% - 200px);
    z-index: 2147483647;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-shadow: 5px 5px 28px 9px rgba(0,0,0,0.5);
    width: 420px;
    font-family: monospace;
}

#shortcutsInterface input {
    padding: 5px 10px;
    width: calc(100% - 20px);
    background: transparent;
    border: navajowhite;
    color: lightblue;
    background: rgba(0, 208, 255, 0.15);
    font-family: monospace;
}

#shortcutsSuggestions p {
    color: white;
}